LITwillio/flows/Send_SMS_To_CEO_When_Customer_Reaches_Gold_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Apex_Method_To_Send_SMS</name>
        <label>Call Apex Method To Send SMS</label>
        <locationX>308</locationX>
        <locationY>528</locationY>
        <actionName>TwilioSMSHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageContent</name>
            <value>
                <elementReference>SMSBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobileNumber</name>
            <value>
                <elementReference>Get_CEO_Number_and_Text_Template.CEO_Business_Number__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Prepare_SMS_Text_Body</name>
        <label>Prepare SMS Text Body</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>SMSBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateForSMSBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Apex_Method_To_Send_SMS</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Send SMS To CEO When Customer Reaches Gold Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS To CEO When Customer Reaches Gold Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CEO_Number_and_Text_Template</name>
        <label>Get CEO Number and Text Template</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_SMS_Text_Body</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CEO_Business_Number</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Gold_Account_Notification_CEO_SMS_Config__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Classification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GOLD</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_CEO_Number_and_Text_Template</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TemplateForSMSBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Great news ! Customer has hit Gold. {!$Record.Name} will get VIP treatment.</text>
    </textTemplates>
    <variables>
        <name>SMSBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
